@model AuctionApp.Models.Auctions.CreateBidVm

@{
    ViewData["Title"] = "Create";
}

<h1>Bid</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBid" asp-route-id="@ViewBag.AuctionId"> <!-- Pass the auction ID -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="spacing-container"> </div>
            <div class="form-group">
                <input type="submit" value="Create" class="cool-button"/>
                <a asp-action="Details" asp-route-id="@ViewBag.AuctionId" class="cool-button">Return to auction </a> <!-- Use ViewBag.AuctionId -->
            </div>
        </form>
    </div>
</div>

<head>
    <style>
        .cool-button {
            color: #fff;
            background-color: #b30000;
            border: 1px solid #b30000;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.3s ease;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
        }

        .cool-button:hover {
            color: #fff;
            background-color: #5a0303;
            transform: scale(1.02);
        }

        .spacing-container {
            margin-bottom: 10px; /* Justera detta värde för mer eller mindre avstånd */
        }

        button {
            margin-right: 5px; /* Avstånd mellan knapparna */
        }
    </style>
</head>